<div class="container">
    <h3>API Integration with HttpClient</h3>
  
    <h4>Create a New Post</h4>
    <form (ngSubmit)="createPost()" class="form">
      <input
        type="text"
        [(ngModel)]="newPost.title"
        name="title"
        placeholder="Title"
        required
      />
      <textarea
        [(ngModel)]="newPost.body"
        name="body"
        placeholder="Body"
        rows="3"
        required
      ></textarea>
      <button type="submit">Create Post</button>
    </form>
  
    <h4>Posts</h4>
    <ul>
      <li *ngFor="let post of posts">
        <strong>{{ post.title }}</strong>
        <p>{{ post.body }}</p>
      </li>
    </ul>
  </div>
  